{{#expect amount, items, url, snippets, query, best}}

You searched for <b>{{query}}</b>\n

{{#each best as _, idx}}
<a href="{{{best[idx].href}}}">{{{best[idx].text}}}</a>\n
{{{snippets[idx]}}}\n
{{/each}}
Showing the first {{amount}} results from DuckDuckGo:

{{#each items as item, idx}}
  {{idx + 1}}. <a href="{{{item.href}}}">{{item.text}}</a>
{{/each}}

<a href="{{{url}}}">Read more on DuckDuckGo</a>
