{{#expect items, url, query, bestAmount}}

{{#var best = items.slice(0, bestAmount) }}
{{#var first = items.slice(bestAmount) }}

You searched for <b>{{query}}</b>\n

{{#each best as _, idx}}
<a href="{{{best[idx].href}}}">{{{best[idx].title}}}</a>\n
{{{best[idx].snippet}}}\n
{{/each}}
Showing the first {{first.length}} results from DuckDuckGo:

{{#each items.slice(bestAmount) as item, idx}}
  {{idx + 1}}. <a href="{{{item.href}}}">{{{item.title}}}</a>
{{/each}}

<a href="{{{url}}}">Read more on DuckDuckGo</a>
